<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <%- include('../components/navbar') -%>
    
    
    <h3>List User</h3>
    
    <ul>
        <% if(users.length > 0) { %>
        <% users.forEach(item => { %>
            <li>
                <%= item.name.toUpperCase() %> |
                <%= item.email %>
            </li>
        <% }); %>
        
        <% } else{  %>
            <li>Data user kosong</li>
        <% } %>
    </ul>
    <%- include('../components/footer') -%>
</body>
</html>